
<h1> Welcome to Magic 8 ball game!!! </h1>

<img src="/assets/magic8_ball.jpg" alt="">

<form action='/magic8/answer'>

  Enter your question :
  <label>
    <input type="text" name="question">
  </label>

  <input type="submit" value="Go">

</form>
