

<h2> Get a new Car! </h2>

<form action="<%= cars_path%>" method="post">

  <label>
  Name : <input type="text" name="name"> <br>
  </label>
  <label>
  Manufacturer : <input type="text" name="manufacturer"> <br>
  </label>
  <label>
  Model : <input type="text" name="model"> <br>
  </label>
  <label>
  Engine : <input type="text" name="engine"> <br>
  </label>
  <label>
  Car class : <input type="text" name="car_class"> <br>
  </label>
  <label>
  Image : <input type="text" name="image"> <br><br>
  </label>

  <input type="submit" value="Get a new Car!">

</form>
