
<h2> Welcome to Number Guess game !!! </h2>

<form action="/guess_number/check_result">

  Guess a number :
  <select name="guessed_number">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>

  <input type="submit" value="Check" class="button">

</form>
